[Unit]
Description=Eyespy Detection Service

[Service]
ExecStart=/usr/bin/python /usr/local/bin/eyespy/detector/main.py
Restart=on-failure
User=eyespy