[Unit]
Description=It's the backend
Requires=network.target
After=network.target

[Service]
WorkingDirectory=/usr/src/app
ExecStart=/usr/bin/npm run start:prod
EnvironmentFile=/etc/sysconfig/app
